@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="card mt-5">
    

            <div class="container row p-5">
                <form action="@Url.Action("Expeditions","Home")" method="post">

                    <div class="col-md-6">
                        <select name="originId" id="origin-list" class="form-control">
                           
                        </select>

                    </div>
                    <div class="col-md-6">
                        <select name="destinationId" id="destination-list" class="form-control">
                          
                        </select>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="row">
                            <div class="col-md-8">

                                <input type="date" name="departureDate" id="dateInput" class="form-control">
                            </div>
                            <div class="col-md-4">

                                <button type="button" id="todayButton" class="btn btn-block btn-dark">Bugün</button>
                                <button type="button" id="tomorrowButton" class="btn btn-block btn-dark">Yarın</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 mt-2">
                        <button type="submit" class="btn btn-block btn-primary">Bileti Bul</button>
                    </div>
                </form>
            </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // When the "Today" button is clicked
        $("#todayButton").click(function () {
            // Get today's date
            var today = new Date();
            var year = today.getFullYear();
            var month = String(today.getMonth() + 1).padStart(2, '0'); // Get the month as a 2-digit string
            var day = String(today.getDate()).padStart(2, '0'); // Get the day as a 2-digit string

            var todayDate = year + '-' + month + '-' + day;

            // Set today's date in the date input field
            $("#dateInput").val(todayDate);
        });

        // When the "Tomorrow" button is clicked
        $("#tomorrowButton").click(function () {
            // Get tomorrow's date
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            var year = tomorrow.getFullYear();
            var month = String(tomorrow.getMonth() + 1).padStart(2, '0');
            var day = String(tomorrow.getDate()).padStart(2, '0');
            var tomorrowDate = year + '-' + month + '-' + day;

            // Set tomorrow's date in the date input field
            $("#dateInput").val(tomorrowDate);
        });



        $('#origin-list').select2({
            ajax: {
                url: '/get-bus-locations-list', // AJAX isteği gönderilecek URL
                dataType: 'json',
                delay: 250, // Arama yaparken gecikme süresi (milisaniye cinsinden)
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            minimumInputLength: 1 // Minimum karakter sayısı için ayarlayabilirsiniz
        });
        $('#destination-list').select2({
            ajax: {
                url: '/get-bus-locations-list', // AJAX isteği gönderilecek URL
                dataType: 'json',
                delay: 250, // Arama yaparken gecikme süresi (milisaniye cinsinden)
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            minimumInputLength: 1 // Minimum karakter sayısı için ayarlayabilirsiniz
        });
    });
</script>